*{
    margin:0px;
    padding:0px;
    box-sizing: border-box
}
nav{
    display:flex;
    justify-content:space-around;
    align-items:center;
    min-height:8vh;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    
}
.logo{
    color: #fff;
    text-transform:uppercase;
    letter-spacing: 5px;
    font-size:20px;
}
.nav-links {
    display:flex;
    justify-content:space-around;
    width:50%;
}
.nav-links li{
    list-style: none;
    cursor:pointer;
}
.nav-links a{
    color:white;
    text-decoration:none;
    letter-spacing:1px;
    font-size:12px;
}
.burger{
    display:none;
    cursor:pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: white;
    margin:5px;
}

@media screen and (max-width:1080px){
    .nav-links {
        width:65%;
    }
}

@media screen and (max-width:800px){
    .nav-links {
        position:absolute;
        right:0px;
        background-color:rgba(0,0,0, 0.8);
        height:85vh;
        top:8vh;
        display:flex;
        flex-direction:column;
        align-items: center;
        width:40%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .burger{
        display:block;
    }
}

.side-nav-active{
    transform: translateX(0%);
}
