<div class="row">
    <div class="col-ad">
        <h4>Sponsores:</h4>
        <button class="add-button">buy this space</button>
        <button class="add-button">buy this space</button>
        <button class="add-button">buy this space</button>
    </div>
    <div class="col-main">
        <div *ngFor="let product of products">
            <div class="product">
                <img [src]="product.photoUrl" alt="">
                <p>Cloth code: {{product.productId}}</p>
                <p>contact: {{product.contact}}</p>
                <p>price: {{product.price}}</p>
            </div>
        </div>
    </div>
    <div class="col-ad">
        <h4>Sponsores:</h4>
        <button class="add-button">buy this space</button>
        <button class="add-button">buy this space</button>
        <button class="add-button">buy this space</button>
    </div>
</div>